@{
    ViewData["Title"] = "Login Refused";
    ViewData["Description"] = "Login Refused";
    ViewData["MetaColor"] = "#FF0000";
    ViewData["OtherHeaderLines"] = "";
}

<span class="center_helper">
    <h1 class="text-danger">Login refused.</h1>
    <h2 class="text-danger">You are not permitted to log in to this site.</h2>
    <p>You don't appear to have a valid Discord account, or you're not in the required Discord guild.</p>
</span>
