@{
    ViewData["Title"] = "Logout Success";
    ViewData["Description"] = "Logout Success";
    ViewData["MetaColor"] = "#00FF00";
    ViewData["OtherHeaderLines"] = "";
}

<span class="center_helper">
    <h1 class="text-success">Logout Success!</h1>
    <h2 class="text-success">You are now logged out.</h2>
</span>

<script>
setTimeout(function() { window.location.href = '/'; }, 5000);
</script>
