@model NewPasteModel
@{
    ViewData["Title"] = $"New {Model.NewType} Paste";
}

<br>
<form asp-antiforgery="false" name="paste_form" id="submitpost" method="POST">
    <div class="lock_top"><div style="height:90px;"></div>
    <span class="center_helper">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="pastetype" value="script" @Model.Checked("Script") onclick="setPasteType('Script')"> Denizen Script
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="pastetype" value="log" @Model.Checked("Log") onclick="setPasteType('Log')"> Server Log
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="pastetype" value="bbcode" @Model.Checked("BBCode") onclick="setPasteType('BBCode')"> BBCode
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="pastetype" value="text" @Model.Checked("Text") onclick="setPasteType('Text')"> Plain Text
            </label>
        </div>
        &nbsp;<input type="submit" class="btn btn-success" value="Submit">
    </span>
    <br><hr>
    <span class="prefix_text">&gt;</span><textarea class="textarea_title" maxlength="200" name="pastetitle" wrap="off" rows="1" placeholder="Give your paste a title here..."></textarea>
    <br><hr>
    </div>
    <div class="lock_top_spacer"></div>
    @{
        if (Model.ShowRejection)
        {
            <span class="center_helper">
                <br><br>
                <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                    <div class="card-header">Submission Refused</div>
                    <div class="card-body">
                        <p class="card-text">If you're a spammer, go away. If you're not, ask on Discord for help.</p>
                    </div>
                </div>
            </span>
        }
    }
    <span class="prefix_text">&gt;</span><div class="paste_spacer" id="paste_spacer"><textarea name="pastecontents" id="pastecontents" placeholder="Enter your paste contents here..." autofocus="true"></textarea></div>
</form>
<script src="/js/newpaste.js"></script>
