@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<title>HTTP 451: Unavailable For Legal Reasons</title>
<style>
body {
    background-color: #EEEEEE;
    font-family: Courier New,monospaced;
}
</style>
</head>
<body>
<center>
<br>
<h1>HTTP 451</h1>
<h2>Unavailable For Legal Reasons</h2>
<a href="https://tools.ietf.org/html/rfc7725#section-3">HTTP 451 definition</a>
<h4><br><br>The original contents of this page have been removed from public access due to a legal takedown demand issued by @Model.IssuingParty.</h4>
The content cannot be restored except by retraction of the takedown by the issuing party.
</center>
</body>
</html>
