@model ViewPasteModel
@{
    ViewData["Title"] = $"Paste #{Model.Paste.ID}";
}

<center>
    <div class="card border-secondary" style="max-width: 90%;">
    <div class="card-header">Paste #@Model.Paste.ID: @Model.Paste.Title</div>
    <div class="card-body">
        <p class="card-text">
            Date: @Model.Paste.Date
            <br>Type: @Model.Type.DisplayName
        </p>
        <a class="btn btn-secondary btn-sm" href=@Model.RawLink>View Raw Paste</a>
        <a class="btn btn-secondary btn-sm" href=@Model.RawLink download=@Model.DownloadName>Download This Paste</a>
    </div>
    </div>
    <br>
    <span class="centering_helper">
        <span class="center_auto">
            @Model.Content
        </span>
    </span>
</center>
