@{
    ViewData["Title"] = "Error";
    ViewData["Description"] = "Internal Error";
    ViewData["MetaColor"] = "#FF0000";
    ViewData["OtherHeaderLines"] = "";
}

<span class="center_helper">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <p>Maybe tell the server admin what you broke.</p>
</span>
