@{
    ViewData["Title"] = "Error 404";
    ViewData["Description"] = "Error 404";
    ViewData["MetaColor"] = "#FF6000";
    ViewData["OtherHeaderLines"] = "";
}

<span class="center_helper">
    <h1 class="text-danger">Error 404</h1>
    <h2 class="text-danger">File not found.</h2>
    <p>Better go look for it. It's sure to be around here somewhere.</p>
</span>
