/* General Page */
.lock_top {
    background-color: #EEEEEE;
}
body {
    background-color: #EEEEEE;
}
textarea {
    color: #000000;
}
hr {
    border-color: #333333;
}
.prefix_text {
    color: #666666;
}
.line_numbers {
    color: #666666;
}
/* Denizen Script Colors */
.script_comment_header{color:#CC0000;}
.script_comment_normal{color:#007700;}
.script_comment_code{color:#AA6600;}
.script_comment_todo{color:#777700;font-weight:bold;}
.script_key{color:#0000FF;}
.script_key_inline{color:#0000FF;font-style:italic;}
.script_command{color:#000000;font-style:italic;}
.script_quote_double{color:#0066FF;}
.script_quote_single{color:#0099BB;}
.script_tag{color:#444444;}
.script_tag_dot{color:#000000;}
.script_tag_param{color:#5500FF;}
.script_colon{color:#0000FF;font-weight:bold;}
.script_bad_space{color:#000000;background-color:#FF6666;}
.script_normal{color:#000000;}
/* Diff colors */
.diff_added{color:#008800;}
.diff_removed{color:#880000;}
.diff_special{color:#5500BB;}
/* MC Log Colors */
.mc_0{color:#000000;}
.mc_1{color:#000088;}
.mc_2{color:#008800;}
.mc_3{color:#008888;}
.mc_4{color:#880000;}
.mc_5{color:#880088;}
.mc_6{color:#888800;}
.mc_7{color:#888888;}
.mc_8{color:#444444;}
.mc_9{color:#5555CC;}
.mc_a{color:#55CC55;}
.mc_b{color:#55CCCC;}
.mc_c{color:#CC5555;}
.mc_d{color:#CC55CC;}
.mc_e{color:#CCCC55;}
.mc_f{color:#000000;}
.mc_n{border-bottom:1px solid white;}
.mc_m{text-decoration:line-through;}
.mc_l{font-weight:bold;}
.mc_o{font-style:italic;}
.mc_r{font-size:100%;font-style:normal;font-weight:normal;color:#FFFFFF;}
.mc_k{font-style:italic;font-weight:bold;}
