@import "colors_dark.css";

/* Analogous Orange: created by drjoenh */
/* Denizen Script Colors */
.script_colon{color:#FFFFFF;font-weight:bold;}
.script_comment_code{color:#ed6c1d;}
.script_comment_header{color:#de3535;}
.script_comment_normal{color:#7f848e;}
.script_comment_todo{color:#e9d42f;font-weight:bold;}
.script_command{color:#DD99FF;font-style:italic;}
.script_def_name{color:#e06c75;font-style:italic;font-weight:bold;}
.script_key{color:#55aad8;font-weight:bold;}
.script_key_inline{color:#55aad8;font-style:italic;}
.script_normal{color:#b9d2a7;}
.script_quote_double{color:#98c379;}
.script_quote_single{color:#98c379;}
.script_tag{color:#e5c07b;}
.script_tag_param{color:#98c379;}
.script_tag_param_bracket{color:#d19a66;}
