/* General Page */
.lock_top {background-color:#EEEEEE;}
body {background-color:#EEEEEE;}
textarea {color:#000000;}
hr {border-color:#333333;}
.prefix_text {color:#666666;}
.line_numbers {color:#666666;}
/* Quite Light: created by Alex 'mcmonkey' Goodwin */
/* Denizen Script Colors */
.script_comment_header{color:#CC0000;}
.script_comment_normal{color:#007700;}
.script_comment_code{color:#AA6600;}
.script_comment_todo{color:#777700;font-weight:bold;}
.script_key{color:#0000FF;}
.script_key_inline{color:#0000FF;font-style:italic;}
.script_command{color:#000000;font-style:italic;}
.script_quote_double{color:#0066FF;}
.script_quote_single{color:#0099BB;}
.script_tag{color:#444444;}
.script_tag_dot{color:#000000;}
.script_tag_param{color:#5500FF;}
.script_colon{color:#0000FF;font-weight:bold;}
.script_bad_space{color:#000000;background-color:#FF6666;}
.script_normal{color:#000000;}
/* Diff colors */
.diff_added{color:#008800;}
.diff_removed{color:#880000;}
.diff_special{color:#5500BB;}
/* MC Log Colors */
.mc_0{color:#000000;}
.mc_1{color:#000088;}
.mc_2{color:#008800;}
.mc_3{color:#008888;}
.mc_4{color:#880000;}
.mc_5{color:#880088;}
.mc_6{color:#888800;}
.mc_7{color:#888888;}
.mc_8{color:#444444;}
.mc_9{color:#5555CC;}
.mc_a{color:#55CC55;}
.mc_b{color:#55CCCC;}
.mc_c{color:#CC5555;}
.mc_d{color:#CC55CC;}
.mc_e{color:#CCCC55;}
.mc_f{color:#000000;}
.mc_n{border-bottom:1px solid white;}
.mc_m{text-decoration:line-through;}
.mc_l{font-weight:bold;}
.mc_o{font-style:italic;}
.mc_r{font-size:100%;font-style:normal;font-weight:normal;color:#FFFFFF;}
.mc_k{font-style:italic;font-weight:bold;}
/* Server log colors */
.log_timestamp{color:#2a4355;}
.log_info{color:#000000;}
.log_warn{color:#555500;}
.log_error{color:#550000;}
.log_thread_main{color:#5e805e;}
.log_thread_user_auth{color:#553c80;}
.log_thread_async{color:#808066;}
.log_plugin{color:#005533;}
.log_plugin_generic{color:#004455;}
.log_plugin_load{color:#005566;}
.log_plugin_enable{color:#006677;}
.log_plugin_disable{color:#804d4d;}
.log_plugin_denizen{color:#7e8000;}
.log_plugin_citizens{color:#006680;}
.log_plugin_sentinel{color:#805400;}
.log_user_chat{color:#111111;}
.log_user_join{color:#5e4480;}
.log_user_cmd{color:#664d80;}
.log_autocolor_0{color:#668066;}
.log_autocolor_1{color:#806666;}
.log_autocolor_2{color:#666680;}
.log_autocolor_3{color:#668080;}
.log_autocolor_4{color:#808066;}
.log_autocolor_5{color:#558055;}
.log_autocolor_6{color:#805555;}
.log_autocolor_7{color:#555580;}
.log_autocolor_8{color:#557f80;}
.log_autocolor_9{color:#7f8055;}
.log_autocolor_10{color:#4d774d;}
.log_autocolor_11{color:#774d4d;}
.log_autocolor_12{color:#4d4d77;}
.log_autocolor_13{color:#4d7777;}
.log_autocolor_14{color:#77774d;}
.log_autocolor_15{color:#4d774d;}
.log_autocolor_16{color:#774d4d;}
.log_autocolor_17{color:#4d4d77;}
.log_autocolor_18{color:#4d7777;}
.log_autocolor_19{color:#77774d;}
/* HLJS */
pre code.hljs{display:block;overflow-x:auto;padding:1em;}
code.hljs{padding:3px 5px;}
.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{color:#0066FF;}
.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#000000;}
.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{color:#0066FF;}
.hljs-attr,.hljs-attribute{color:#0000FF;}
.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#000000;}
.hljs-built_in,.hljs-symbol{color:#0066FF;}
.hljs-code,.hljs-comment,.hljs-formula{color:#007700;}
.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{color:#0099BB;}
.hljs-subst{color:#5500FF;}
.hljs-section{color:#0000FF;font-weight:700;}
.hljs-bullet{color:#000000;}
.hljs-doctag{color:#AA2020;}
.hljs-emphasis{color:#24292e;font-style:italic;}
.hljs-strong{color:#24292e;font-weight:700;}
.hljs-addition{color:#22863a;background-color:#f0fff4;}
.hljs-deletion{color:#b31d28;background-color:#ffeef0;}
