/* General Page */
.lock_top {
    background-color: #222;
}
textarea {
    color: #FFFFFF;
}
hr {
    border-color: #AAAAAA;
}
.prefix_text {
    color: #999999;
}
.line_numbers {
    color: #999999;
}
/* Denizen Script Colors */
.script_comment_header{color:#FF0000;}
.script_comment_normal{color:#007700;}
.script_comment_code{color:#DD5500;}
.script_comment_todo{color:#FFFF00;font-weight:bold;}
.script_key{color:#1155FF;}
.script_key_inline{color:#1155FF;font-style:italic;}
.script_command{color:#DD99FF;font-style:italic;}
.script_quote_double{color:#77BBF5;}
.script_quote_single{color:#88DDFF;}
.script_tag{color:#AAAAAA;}
.script_tag_dot{color:#EEEEFF;}
.script_tag_param{color:#7777FF;}
.script_colon{color:#66CCFF;font-weight:bold;}
.script_bad_space{color:#FFFFFF;background-color:#440000;}
.script_normal{color:#FFFFFF;}
/* Diff colors */
.diff_added{color:#00FF00;}
.diff_removed{color:#FF0000;}
.diff_special{color:#6611FF;}
/* MC Log Colors */
.mc_0{color:#000000;}
.mc_1{color:#0000DD;}
.mc_2{color:#00DD00;}
.mc_3{color:#00DDDD;}
.mc_4{color:#DD0000;}
.mc_5{color:#DD00DD;}
.mc_6{color:#DDDD00;}
.mc_7{color:#DDDDDD;}
.mc_8{color:#AAAAAA;}
.mc_9{color:#AAAAFF;}
.mc_a{color:#AAFFAA;}
.mc_b{color:#AAFFFF;}
.mc_c{color:#FFAAAA;}
.mc_d{color:#FFAAFF;}
.mc_e{color:#FFFFAA;}
.mc_f{color:#FFFFFF;}
.mc_n{border-bottom:1px solid white;}
.mc_m{text-decoration:line-through;}
.mc_l{font-weight:bold;}
.mc_o{font-style:italic;}
.mc_r{font-size:100%;font-style:normal;font-weight:normal;color:#FFFFFF;}
.mc_k{font-style:italic;font-weight:bold;}
