/* Diff colors */
.diff_added{color:#00FF00;}
.diff_removed{color:#FF0000;}
.diff_special{color:#6611FF;}
/* MC Log Colors */
.mc_0{color:#000000;}
.mc_1{color:#0000DD;}
.mc_2{color:#00DD00;}
.mc_3{color:#00DDDD;}
.mc_4{color:#DD0000;}
.mc_5{color:#DD00DD;}
.mc_6{color:#DDDD00;}
.mc_7{color:#DDDDDD;}
.mc_8{color:#AAAAAA;}
.mc_9{color:#AAAAFF;}
.mc_a{color:#AAFFAA;}
.mc_b{color:#AAFFFF;}
.mc_c{color:#FFAAAA;}
.mc_d{color:#FFAAFF;}
.mc_e{color:#FFFFAA;}
.mc_f{color:#FFFFFF;}
.mc_n{border-bottom:1px solid white;}
.mc_m{text-decoration:line-through;}
.mc_l{font-weight:bold;}
.mc_o{font-style:italic;}
.mc_r{font-size:100%;font-style:normal;font-weight:normal;color:#FFFFFF;}
.mc_k{font-style:italic;font-weight:bold;}
