/* Highlights, text effects */
.none{display:inline;}
.red{color:#FF0000;display:inline;}
.green{color:#00FF00;display:inline;}
.darkgreen{color:#007700;display:inline;}
.blue{color:#1155FF;display:inline;}
.yellow{color:#FFFF00;display:inline;}
.black{background-color:#FFFFFF;color:#000000;display:inline;}
.differ{color:#AAAAFF;display:inline;}
.emphasis{background-color:#303030;display:inline;}
.offcolor{color:#AAAAAA;display:inline;}
.redback{background-color:#372228;display:inline;}
.bracket{background-color:#222240;display:inline;}
.brace{background-color:#303030;display:inline;}
.bigger{font-size:120%;display:inline;}
.smaller{font-size:80%;display:inline;}
.special{font-size:120%;display:inline;text-decoration:underline;}
.hideme{color:#000000;}
a.hideme{color:#000000;}
a.hideme:hover{color:#00FF00;}
