.center_helper {
    text-align: center;
    display: block;
}
.card {
    display: inline-block;
}
textarea {
    background: transparent;
    border: 0px;
    color: #FFFFFF;
    padding: 0px;
    width: 90%;
    font-family: Courier New,monospaced;
    outline: none;
    resize: none;
    font-size: 13px;
    left: 65px;
    position: absolute;
}
hr {
    border-color: #AAAAAA;
}
.paste_spacer {
    min-height: 500px;
}
.prefix_text {
    color: #999999;
    z-index: -1000;
    position: absolute;
    left: 0px;
    width: 60px;
    font-size: 13px;
    font-family: Courier New,monospaced;
    text-align: right;
}
.line_numbers {
    color :#999999;
    position: absolute;
    width: 60px;
    font-size: 16px;
    font-family: Courier New,monospaced;
    text-align: right;
}
.paste_body {
    left: 80px;
    position: relative;
    font-family: Courier New,monospaced;
    font-size: 16px;
    white-space: nowrap;
}
.center_auto {
    display: inline-block;
    text-align: left;
}
.flash {
    animation: flash 2s ease-out;
    animation-iteration-count: 1;
}
@keyframes flash {
    0% { background-color: transparent; }
    20% { background-color: #88BBFF; }
    100% { background-color: transparent; }
}
.flasher_tool {
    position: absolute;
    width: 30rem;
    left: 0;
    height: 1.3rem;
}
