html {
    font-size: 16px;
}
.center_helper {
    text-align: center;
    display: block;
}
.navbar-fixed-ifier {
    z-index: 200;
    position: fixed;
    width: 100%;
}
.lock_top {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 240px;
    z-index: 100;
}
.lock_top_spacer {
    height: 130px;
    width: 100%;
}
.card {
    display: inline-block;
}
textarea {
    background: transparent;
    border: 0px;
    padding: 0px;
    width: 90%;
    font-family: Courier New,monospaced;
    outline: none;
    resize: none;
    font-size: 13px;
    left: 65px;
    position: absolute;
}
.textarea_title {
    min-width: 500px;
    max-width: 100%;
    overflow: hidden;
    height: 30px;
}
.paste_spacer {
    min-height: 500px;
}
.prefix_text {
    z-index: -1000;
    position: absolute;
    left: 0px;
    width: 60px;
    font-size: 13px;
    font-family: Courier New,monospaced;
    text-align: right;
}
.line_numbers {
    position: absolute;
    width: 60px;
    font-size: 16px;
    font-family: Courier New,monospaced;
    text-align: right;
}
.paste_body {
    left: 80px;
    position: relative;
    font-family: Courier New,monospaced;
    font-size: 16px;
    white-space: nowrap;
}
.center_auto {
    display: inline-block;
    text-align: left;
}
.flash {
    animation: flash 2s ease-out;
    animation-iteration-count: 1;
}
@keyframes flash {
    0% { background-color: transparent; }
    20% { background-color: #88BBFF; }
    100% { background-color: transparent; }
}
.flasher_tool {
    position: absolute;
    width: 30rem;
    left: 0;
    height: 1.3rem;
}
.popover_box {
    position: relative;
    top: -50px;
    background-color: #33FF33;
    color: #000000;
}
h1 {
    white-space: normal;
}
h2 {
    white-space: normal;
}
h4 {
    white-space: normal;
}
